.nav-menu {
    position: relative;
    .side-nav {
        background: $theme-color4;
        width: 304px;
        height: 100%;
        overflow: hidden;
        box-shadow: $box-shadow;
        will-change: transform;
        transform: translateX(-102%);
    }
}

.hamburger {
    label {
        background: url('/img/ic_menu_white_24px.svg') center center no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        text-indent: -30000px;
        overflow: hidden;
        opacity: .54;
        transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
        border: 0;
        outline: 0;
    }
    input {
        &:checked {
            ~ .side-nav {
                transform: translateX(0);
            }
        }
    }
}

