<ul id="arrivals" class="arrivals-list" data-bind="foreach: $data">
    <li class="item">
        <span class="title" data-bind="html: title"></span>
        <span class="status" data-bind="html: status"></span>
        <span class="time" data-bind="html: time"></span>
    </li>
</ul>
