<header class="header">
    <nav class="nav-menu checkbox">
        <div class="hamburger">
            <input type="checkbox" id="hamburger">
            <label for="hamburger" onclick="">
                Toggle Menu
            </label>
            <div class="side-nav">
                <div class="nav-header">
                    <span>Kevin Farrugia</span>
                </div>
                <div class="nav-body">
                    <div class="recent">
                        Recent
                        <ul class="recent-list">
                            <li>
                                <a href="#">HIIT</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pages">
                        <ul class="page-list">
                            <li>
                                <a href="/challenges">Challenges</a>
                            </li>
                            <li>
                                <a href="/settings">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="title">{{data.title}}</h1>
</header>
