<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.metaTitle}}</title>
    <style type="text/css">{{{data.inlineStyles}}}</style>
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#29bdbb">
    <link rel="icon" sizes="192x192" href="./launcher-icon-8x.png">
</head>

<body>
    {{> header }}
    
    {{{body}}}

    {{> async-css }}

    {{#each data.remoteScripts}}
    <script src="{{this}}" async></script>
    {{~/each}}
</body>

</html>
